body{
    font-family: fantasy;
    font-size: 200%;
    background-image: url("images/Picture1.png");
    background-repeat: no-repeat;
    background-size: cover;

   
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: brown;
    font-size: 200%;
}
a{
    color:rgb(102, 42, 2);
    text-decoration: none;
    display: inline-block;
    padding-right: 30px;
    padding-top: 1px;
}
img{
    float: right;
}
.discount{
    color: rgb(7, 7, 6);
    text-align: right;
}
nav{
    float: right;
    flex: auto;
}
p{
    padding-bottom: 10px;
}
.bi #design {
    text-align: right;
flex: auto;}